
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                
               
               <img src="assets/img/freelancer-logo.jpg" alt="Image not Found!" style="height: 50px; width: 60%;"/>
              <h3 class="mb-5">Reset your password</h3>

              <p>Enter your Freelancer.com email address so we can reset your password.</p>
              
              <form (ngSubmit)="submitForm()">
                <!-- Email input -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" 
                name="email" [(ngModel)]=userService.email placeholder="Recipient's Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
              </div>
    
                <button class="btn btn-primary btn-block" style="width: 40%;"
                data-toggle="modal" data-target="#alert" type="submit">Next</button><br><br>
                
              </form>

              <a href="/login" style="text-decoration: none"> < Back! </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>