 <!-- Modal -->
 <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ userService.alert_title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ userService.alert_msg }}
        </div>
        <div class="modal-footer">
          <button id="alert_close" type="button" class="btn btn-secondary" (click)="userService.swapCancel()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" hidden data-toggle="modal" data-target="#alert" id="pop_up"></button>


 <app-navbar></app-navbar> 
<router-outlet></router-outlet>