<mat-progress-bar mode="indeterminate" *ngIf='myProjects.length==0 && !userService.noData'></mat-progress-bar>
  <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- {% block content %}{% endblock %} -->
            <div class="container h-10" *ngIf='myProjects.length!=0'>
              <div class="d-flex justify-content-center h-10">
                <div class="searchbar">
                  <input class="search_input" type="text" [(ngModel)]="term" placeholder="Search...">
                  <p href="#" class="search_icon"><i class="fas fa-search"></i></p>
                </div>
              </div>
            </div>

            <h3 *ngIf='userService.noData'>{{ userService.data_check }}</h3>
            <article class="media content-section" *ngFor="let project of myProjects | filter: term">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" style="text-decoration: none" href="update-project/{{ project._id }}">Edit</a>
                    <a class="mr-2" style="text-decoration: none; margin-left: 8%; cursor: pointer;" (click)="delete(project._id)">Delete</a>
                    <small class="text-muted" style="margin-left: 10%;">Posted Date : {{ userService.getDate(project.date) }}</small>
                </div>
                <h2><a class="article-title" href="/showProject/{{project._id}}">{{ project.title }}</a></h2>
                <p class="article-content" style="display: -webkit-box;
                overflow : hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;">{{ project.describe }}</p>
                </div>
                <div class="article-metadata">
                    
                </div>
                <!-- <button type="button" class="btn btn-outline-primary" (click)="explore(project._id)">Explore</button> -->
            </article>
          </div>
      <div class="col-md-4">
      </div>
    </div>
  </main>
