
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                
               
               <img src="assets/img/freelancer-logo.jpg" alt="Image not Found!" style="height: 50px; width: 60%;"/>
              <h3 class="mb-5">Reset your password</h3>

              <p>Create new password.</p>
              
              <form (ngSubmit)="submitForm()">
                <!-- Password input -->
              <div class="input-group mb-3">
                <input [type]="userService.password_type" class="form-control" 
                name="password" [(ngModel)]=userService.password placeholder="Password" >
                <button style="width: 20%;" [class]="userService.class_status" type="button" (click)="userService.show_password()">{{ userService.btn_name }}</button>
              </div>
    
                <button class="btn btn-primary btn-block" style="width: 40%;"
                data-toggle="modal" data-target="#alert" type="submit">Next</button><br><br>
                
              </form>

              <a href="/login" style="text-decoration: none"> < Back! </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>